h1 {
    text-align: center;
}

ul {
    /* padding-left: 40%;
    border-bottom: 0px; */
    margin: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}