<table class="table">
    <tr>
        <td>First Name</td>
        <td><input type="text" [(ngModel)]="globalService.currentPerson.firstName"></td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td><input type="text" [(ngModel)]="globalService.currentPerson.lastName"></td>
    </tr>
    <tr>
        <td>Username</td>
        <td><input type="text" [(ngModel)]="globalService.currentPerson.username"></td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input type="password" [(ngModel)]="globalService.currentPerson.password"></td>
    </tr>
    <tr>
        <td>Street Address</td>
        <td><input type="text" [(ngModel)]="globalService.currentPerson.location.streetAddress"></td>
    </tr>
    <tr>
        <td>City</td>
        <td><input type="text" [(ngModel)]="globalService.currentPerson.location.city"></td>
    </tr>
    <tr>
        <td>State</td>
        <td><input type="text" [(ngModel)]="globalService.currentPerson.location.state"></td>
    </tr>
    <tr>
        <td>Zip code</td>
        <td><input type="number" [(ngModel)]="globalService.currentPerson.location.zipcode"></td>
    </tr>
    <tr *ngIf="invalidInputs">
        <td colspan="2">{{validation}}</td>
    </tr>
    <tr>
        <td colspan="2"><button type="submit" (click)="updateProfile()">updateProfile</button></td>
    </tr>
</table>