<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Amount Left</th>
        <th>Price</th>
        <th>Location</th>
    </tr>
    <ng-container *ngFor="let inventoryitem of inventoryItems">
        <tr>
            <td>{{ inventoryitem.iiId }}</td>
            <td>{{ inventoryitem.topping.toppingName }}</td>
            <td>{{ inventoryitem.amountLeft }}</td>
            <td>{{ inventoryitem.price | currency: 'USD' }}</td>
            <td>{{ inventoryitem.location.name }}</td>
            <td *ngIf="inventoryitem.reorder===false || inventoryitem.reorder===undefined"><button
                    (click)="changeReorder(inventoryitem)">Reorder</button></td>
            <td *ngIf="inventoryitem.reorder===true"><button (click)="changeReorder(inventoryitem)">Cancel
                </button></td>
        </tr>
        <tr *ngIf="inventoryitem.reorder===true">
            <td>Order Amount</td>
            <td><input type="number" [(ngModel)]="inventoryitem.orderAmount" step="1"></td>
            <td>New Price</td>
            <td><input type="number" [(ngModel)]="inventoryitem.newPrice" step="any"></td>
            <td><button (click)="confirmOrder(inventoryitem)">Confirm</button></td>
        </tr>
    </ng-container>
</table>