/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("images/imageedit_8_8992234960.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}